---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}<div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">here</a>!</div>


<span style="font-size:14px;margin-bottom:4px;display: block;">*Equal Contributors / <span class="highlight">Highlighted Papers</span></span>
{% include base_path %}


<div class="research-block" style="margin-bottom:50px;">
  <div class="left">
    <span class="research-img">
      <img src="/images/work/halder1.png"style="width:900px; height:750px;">
    </span>
  </div>
  <div class="right">
    <div class="title"><b style="font-size:20px;color:#0008fa">RSTG: Robust Generation of High Quality Spatial Transcriptomics Data using Beta Divergence Based AutoEncoder</b></div>
    <div class="sub-title"><b style="color:#a115a0">Agrya Halder</b>,Abhik Ghosh, and Sanghamitra Bandyopadhyay<i><br><b>bioRxiv 2026 </b></i>[<a target="_blank" class="tab_paper" href="https://www.biorxiv.org/content/10.64898/2026.02.23.705895v1">paper</a>]</div>
    <!-- <div class="win"><img src="/images/trophy-icon.webp" width="15px"> <span style="background-color: yellow;">Awarded Best Paper</span> in <a class="prize" href="https://iitjammu.ac.in/cvip2023/award.html">CVIP 2023</a> IIT Jammu</div> -->
    <span class="research-text">
      RSTG is a robust variational autoencoder-based framework that generates high-quality synthetic spatial transcriptomics data using a β-ELBO loss function. By learning the underlying data distribution, it produces realistic and interpretable samples while maintaining robustness to common data contaminations such as noise, batch effects, and dropouts. Experiments on Visium and MERFISH datasets demonstrate improved performance in cellular position recovery and spatial domain prediction compared to existing methods, highlighting its effectiveness for data augmentation and downstream spatial transcriptomics analysis.
    </span>
  </div>
</div>

<div class="research-block" style="margin-bottom:50px;">
  <div class="left">
    <span class="research-img">
      <img src="/images/work/Survey_page.png"style="width:900px; height:auto;">
    </span>
  </div>
  <div class="right">
    <div class="title"><b style="font-size:20px;color:#0008fa">A systematic survey on recent deep learning-based approaches to multi-object tracking</b></div>
    <div class="sub-title">*Harshit Agarwal,<b style="color:#a115a0">*Agrya Halder</b>, and Pratik Chattopadhyay<i><br><b>Multimedia Tools and Applications 2024 </b></i>[<a target="_blank" class="tab_paper" href="https://link.springer.com/article/10.1007/s11042-023-16910-9">paper</a>]</div>
    <!-- <div class="win"><img src="/images/trophy-icon.webp" width="15px"> <span style="background-color: yellow;">Awarded Best Paper</span> in <a class="prize" href="https://iitjammu.ac.in/cvip2023/award.html">CVIP 2023</a> IIT Jammu</div> -->
    <span class="research-text">
      This survey reviews state-of-the-art MOT methods published since 2019, categorizing existing approaches into nine major research directions. It emphasizes the tracking stage of MOT and highlights recent advances using deep learning models such as Transformers and Graph Neural Networks. The paper also discusses key challenges, public datasets, benchmarks, and evaluation metrics, providing a consolidated overview of current trends and research gaps in MOT.
    </span>
  </div>
</div>


<div class="research-block" style="margin-bottom:50px;">
  <div class="left">
    <span class="research-img">
      <img src="/images/work/GSSTU_page.png"style="width:900px; height:auto;">
    </span>
  </div>
  <div class="right">
    <div class="title"><b style="font-size:20px;color:#0008fa">GSSTU: Generative Spatial Self-Attention Transformer Unit for Enhanced Video Prediction</b></div>
    <div class="sub-title">*Binit Singh, Divji Singh, Rohan Kaushal, <b style="color:#a115a0">*Agrya Halder</b>, and Pratik Chattopadhyay<i><br><b>IEEE Transactions on Neural Networks and Learning Systems 2024 </b></i>[<a target="_blank" class="tab_paper" href="https://ieeexplore.ieee.org/abstract/document/10449424">paper</a>]</div>
    <!-- <div class="win"><img src="/images/trophy-icon.webp" width="15px"> <span style="background-color: yellow;">Awarded Best Paper</span> in <a class="prize" href="https://iitjammu.ac.in/cvip2023/award.html">CVIP 2023</a> IIT Jammu</div> -->
    <span class="research-text">
      Future frame prediction is a fundamental and challenging problem in computer vision, with applications in video generation, autonomous driving, and robotics. Existing approaches based on recurrent neural networks struggle to capture long-range temporal dependencies, while CNN–RNN hybrids have limited ability to model complex spatio-temporal relationships. Although Generative Adversarial Networks (GANs) have shown promising results, they are often computationally expensive and prone to training instability. In this work, we propose a novel future frame prediction framework that combines the strong spatio-temporal feature encoding of 3D Convolutional Neural Networks (3D-CNNs) with the long-range sequence modeling capability of Transformers. To further enhance prediction quality, we introduce a spatial self-attention mechanism to preserve structural consistency and a neighborhood pixel intensity loss to maintain local intensity variations.
    </span>
  </div>
</div>


<div class="research-block" style="margin-bottom:50px;">
  <div class="left">
    <span class="research-img">
      <img src="/images/work/MotionFormer_page.png"style="width:900px; height:auto;">
    </span>
  </div>
  <div class="right">
    <div class="title"><b style="font-size:20px;color:#0008fa">MotionFormer: An Improved Transformer-Based Architecture for Multi-object Tracking</b></div>
    <div class="sub-title">*Harshit Agarwal,<b style="color:#a115a0">*Agrya Halder</b>, and Pratik Chattopadhyay<i><br><b>8th International Conference, CVIP 2023 </b></i>[<a target="_blank" class="tab_paper" href="https://link.springer.com/chapter/10.1007/978-3-031-58535-7_18">paper</a>]</div>
    <div class="win"><img src="/images/trophy-icon.webp" width="15px"> <span style="background-color: yellow;">Awarded Best Paper</span> in <a class="prize" href="https://iitjammu.ac.in/cvip2023/award.html">CVIP 2023</a> IIT Jammu</div>
    <span class="research-text">
      MotionFormer  is a novel variant of the TrackFormer model that addresses the limitations in scenarios involving short-term object occlusion, camera motion, and ambiguous detection especially in low frame-rate videos. MotionFormer, integrating an online motion prediction module based on the Kalman Filter, incorporates the important temporal information present in the videos. The addition of the Kalman Filter helps the model study the tracked pedestrians’ motion patterns and leverage them for effective association among targets across the video frames even in the case of short-term occlusions without adding much to the computational complexity of the overall framework.
    </span>
  </div>
</div>

  
<!-- {% include archive-single.html %} -->
<div class="research-block" style="margin-bottom:50px;">
  <div class="left">
    <span class="research-img">
      <img src="/images/work/GTNet_page.png">
    </span>
  </div>
  <div class="right">
    <div class="title"><b style="font-size:20px;color:#0008fa">Gait transformation network for gait de-identification with pose
      preservation</b></div>
    <div class="sub-title"><b style="color:#a115a0">Agrya Halder</b>, Pratik Chattopadhyay, and Sathish Kumar <i><br><b>Springer SIVP 2022 </b></i>[<a target="_blank" class="tab_paper" href="https://link.springer.com/article/10.1007/s11760-022-02386-x">paper</a>]</div>
    <span class="research-text" >
     GTNet is a plausible deep learning-based solution to the gait de-identification problem. First, a set of key walking poses is determined from a large gallery set. Next, given an input sequence, a graph-based path search algorithm is employed to classify each frame of the sequence into the appropriate key pose. Next, a random frame with matched key pose chosen from the subset of the gallery sequences is considered the target frame. The dense pose features of the input and target frames are then fused using the proposed gait transformation network (GTNet).
    </span>
  </div>
</div>
  {% endif %}
<!-- New style rendering if publication categories are defined
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %} -->



